.stats {
  margin-top: 40px;
  font-family: $font-family-georama;

  .stats-brand {
    display: block;
    margin-bottom: 20px;
    color: #727271;

    img {
      width: 392.3px;
      height: 54.22px;
    }
  }
}