.stats-wrapper {
  background-image: url("../img/bg/1.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 660px) center;

  .stats {
    margin-top: 40px;
    font-family: $font-family-georama;

    .stats-brand {
      display: block;
      margin-bottom: 20px;
      color: #727271;

      img {
        width: 392.3px;
        height: 54.22px;
      }
    }
  }
}
