.stats {
  margin-top: 40px;
  font-family: $font-family-georama;

  .stats-brand {
    display: block;
    margin-bottom: 20px;
    color: #727271;

    img {
      width: 392.3px;
      height: 54.22px;
    }
  }

  .pane-gray {
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.25), inset 0 0 2px 2px rgba(177, 177, 177, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.5);

    border-radius: 12px;
    text-align: center;
    background-color: rgba(217, 217, 217, 0.5);
    color: #3c3c3c;
    text-transform: uppercase;
    display: block;

    &:hover {
      border-color: rgba(173, 209, 221, 0.13);
      box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.25), 0 0 2px 2px rgba(63, 145, 173, 0.27);
      background-color: rgba(173, 209, 221, 0.5);
    }

    .pane-inner {
      padding: 12px 0;
      border-radius: 12px;
      display: block;
      border: 3px solid transparent;

      &:hover {
        border: 3px solid rgba(63, 145, 173, 0.27);
      }
    }

    &.stats-setting .pane-inner {
      font-size: 24px;
      font-weight: 600;
      line-height: 1;

      .number {
        font-size: 64px;
        font-weight: 700;
      }
    }

    &.stats-guarantee .pane-inner {
      font-size: 24px;
      font-weight: 600;
      line-height: 1;

      .number {
        font-size: 64px;
        font-weight: 700;
      }
    }

    &.stats-durability .pane-inner {
      font-size: 32px;
      font-weight: 600;
      line-height: 1;
      padding: 29px 0;

      .number {
        font-size: 96px;
        font-weight: 700;
      }
    }

    &.stats-price .pane-inner {
      font-size: 32px;
      line-height: 1;
    }

    &.stats-tech {
      margin-top: 26px;

      .pane-inner {
        font-size: 32px;
        line-height: 1.1;
      }
    }
  }
}