@import "fonts";

$font-family-base: 'Georama', sans-serif;
$font-weight-base: 400;

$font-family-inter: 'Inter', sans-serif;
$font-family-georama: 'Georama', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-krona-one: 'Krona One', sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";

@import "header";
@import "slider";
@import "block1";
@import "footer";

a {
  text-decoration: none;

  &:hover {
    color: #ffffff;
  }
}

h1, h2 {
  font-family: $font-family-georama;
  font-size: 38px;
  font-weight: 700;
  color: #3C3C3C;
  text-transform: uppercase;
}

.promo-block {
  padding: 40px 0;
}

.btn-gradient-caps {
  border-radius: 15px;
  background: linear-gradient(90deg, #31d7dd 0%, #4787f6 100%);
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  text-wrap: nowrap;
  color: #ffffff;
  letter-spacing: 0;

  &:hover {
    background: linear-gradient(90deg, #31d7dd 0%, #4787f6 100%);
    color: #ffffff;
    opacity: 0.9;
  }
}

.logo-r {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  vertical-align: top;

  width: 13.67px;
  height: 24.58px;

  &::before {
    content: "\00ae";
    font-family: $font-family-inter;
    font-weight: 400;
    font-size: 14px;
    color: inherit;
    line-height: 1;
    margin-top: 0;
  }
}
