@import "fonts";

$font-family-base: 'Georama', sans-serif;
$font-weight-base: 400;

$font-family-inter: 'Inter', sans-serif;
$font-family-georama: 'Georama', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-krona-one: 'Krona One', sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";

header {
  padding-bottom: 2px;

  .container > .row {
    padding-top: 40px;
    
    > [class^="col-"] {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
  }

  .navbar-brand img {
    width: 230.5px;
    height: 32px;
  }

  .city-selector {
    font-family: $font-family-georama;
    font-size: 16px;
    color: #3c3c3c;
    text-decoration: none;
    display: block;

    :hover {
      color: #3f91ad;
    }
  }

  nav {
    margin: 0 -40px;
  }

  a.nav-link {
    color: #454545;
    font-family: $font-family-georama;
    font-weight: 500 !important;

    .active, :hover {
      color: #3f91ad;
    }
  }

  .nav-phone {
    font-family: $font-family-georama;
    font-weight: 500 !important;
    font-size: 16px;
    padding-right: 12px;
  }

  .logo-r {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    vertical-align: top;

    width: 13.67px;
    height: 24.58px;

    &::before {
      content: "\00ae";
      font-family: $font-family-inter;
      font-weight: 400 !important;
      font-size: 14px;
      color: inherit;
      line-height: 1;
      margin-top: 0;
    }
  }
}
.hero-slider {
  position: relative;
  
  .carousel-item {
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .container {
      padding-top: 420px;
    }

    .slider-promo {
      display: grid;
      grid-template-columns: 1fr max-content max-content;
      gap: 0;
      align-items: end;
      text-align: left;
      line-height: normal;

      .slider-promo-text {
        font-family: $font-family-georama;
        font-weight: 700 !important;
        font-size: 34px;
        color: #fff;
        text-transform: uppercase;
        line-height: 1.2;

        .slider-promo-years {
          font-family: $font-family-krona-one;
          font-size: 150px;
          display: inline-block;
          line-height: 0.8;
          vertical-align: top;
          margin-left: 10px;
          font-weight: 400;
        }
      }

      .slider-promo-suffix {
        font-family: $font-family-georama;
        font-weight: 700 !important;
        font-size: 34px;
        color: #fff;
        text-transform: uppercase;
        line-height: 1.2;
      }
    }
  }

  .carousel-indicators {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    z-index: 15;
    margin: 0;
    display: flex;
    justify-content: center;

    button {
      height: 7px;
      width: 98px;
      border: none;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.5);
      margin: 0 5px;

      &.active {
        background-color: #fff;
        opacity: 1;
      }
    }
  }
}


.btn-gradient-caps {
  border-radius: 15px;
  background: linear-gradient(90deg, #31d7dd 0%, #4787f6 100%);
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  text-wrap: nowrap;
  color: #ffffff;
  letter-spacing: 0;

  &:hover {
    background: linear-gradient(90deg, #31d7dd 0%, #4787f6 100%);
    color: #fff;
    opacity: 0.9;
  }
}